body {
    margin: 10px;
    background-color: grey;
}

#home {
    margin: -1;
    padding-bottom: 2cm;
    background-color: blueviolet;
}

header {
    font-size: 30px;
    color: light purple;
    float: left;
    padding-left: 2cm;
}

nav {
    float: right;
    padding-right: 1cm;
}

nav button {
    background-color: lightcoral;
    margin: 10px;
    padding: 10px;
    border-radius: 1mm;
    font-size: 20px;
    
}